body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.cont-pad {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* ======= HEADER SECTION =======*/
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo-accent {
    color: #2e2f42;
}
.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}
.navig {
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-item {
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2e2f42;
    padding: 24px 0;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.nav-link.current {
    position: relative;
    color: #404bbf;
}
.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px;
}

.adres {
    font-style: normal;
}
.adres-list {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    padding: 24px 0;
}
.adres-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adres-link:hover,
.adres-link:focus {
    color: #404bbf;
}

main {
    flex-grow: 1;
}

/* ======= HERO SECTION =======*/
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background: #2e2f42;
    text-align: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    padding-top: 0;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}
.hero-but {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    min-width: 169px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-but:hover,
.hero-but:focus {
    background-color: #404bbf;
}

/* ======= BENEFITS SECTION ======= */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benef-list {
    display: flex;
    gap: 24px;
}
.benef-item {
    flex-basis: calc((100% - 72px) / 4);
}
.benef-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background: #f4f4fd;
}
.item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.item-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ======= TEAM SECTION ======= */
.team {
    background: #f4f4fd;
}
.team-item {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-item .item-p {
    margin-bottom: 8px;
}
.item-hp {
    text-align: center;
    padding: 32px 0px;
}
.svg-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.svg-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.svg-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: #4d5ae5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-link:hover,
.svg-link:focus {
    background-color: #404bbf;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-soc {
    fill: #f4f4fd;
}

/* ======= PORTFOLLIO SECTION ======= */
.portf-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portf-list {
    display: flex;
    gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}
.portf-item {
    flex-basis: calc((100% - 48px) / 3);
}
.portf-item {
    position: relative;
    overflow: hidden;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-thumb {
    position: relative;
    overflow: hidden;
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.portf-item:hover .overlay-text,
.portf-item:focus .overlay-text {
    transform: translateY(0);
}
.portf-item:hover,
.portf-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portf-hp {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    box-shadow: none;
}

/* ======= FOOTER SECTION ======= */
.foot {
    background-color: #2e2f42;
    color: #f4f4fd;
    padding-top: 100px;
    padding-bottom: 100px;
}
.foot .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.logof-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.logof-sp {
    color: #f4f4fd;
}
.foot-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}
.box-foot {
    margin-right: 120px;
}
.soc-foot {
    padding-bottom: 0px;
}
.socf-p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
.soc-list {
    display: flex;
    gap: 16px;
}
.team-soc {
    fill: #f4f4fd;
}
.soc-foot .svg-link:hover,
.soc-foot .svg-link:focus {
    background-color: #31d0aa;
}